.admin {
    flex: 1;
    text-align: right;
}

.admin-link {
    composes: yellow-button small from './shared/buttons.module.css';
}

.results-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--space-s);
}

.sort-by-label {
    composes: small from './shared/typography.module.css';
}

.list {
    margin-bottom: var(--space-s);
}
