.header {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  gap: var(--space-xs);
}

.github-link {
  &,
  &:hover {
    color: var(--main-color);
  }

  svg {
    width: 32px;
    height: 32px;
  }
}
