<span local-class='yanked-badge' ...attributes>
  {{svg-jar 'trash'}}
  Yanked

  <EmberTooltip>
    This crate has been yanked, but it is still available for download for other crates that may be depending on it.
  </EmberTooltip>
</span>